.container {
    width: 700px;
}

.preview-produto-img {
    border: 1px solid rgb(153, 153, 153);
    height: 300px;
    margin-right: 150px;
}

.titulo_pag_admin:hover {
    color: #d37400;
    text-decoration: none;
}

.select-categoria-sub {
    margin-top: -8px;
}


/* Check box nova categoris */

.switch__container {
    margin-top: -10px;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 120px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 12px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 12px;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 62px;
    background-color: #fff;
    border-radius: 26%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #ffa940;
}

.switch--shadow:checked+label:after {
    transform: translateX(60px);
}