body{
	background-color: #CEE3F6;
}
.container{
	background-color: #fff;
	padding: 0%;
}
.container-2{
	background-color: #fff;
	padding: 1%;
}

.topo{
	background-color: #148fca;
}

.lateral{
    background-color: #f8f9fa;
}

.navegacao-topo{
    margin-top: 6%;
}

.login-botao {
    float: rigth;
}

.logo{
    float: left;
}

.paginacao{
    margin-right: 5.2em;
}

/*aside*/
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	max-width: 250px;
    transition: all 0.3s;
	float: left;
	padding: 10px;
}

.produtos{
	width: 75%;
}

.box-produto{
    width: 13rem;
}

#sidebar ul li a{
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}
/*#sidebar ul li.active>a,
a[aria-expanded="true"] {

}*/

a[data-toggle="collapse"]{
	position: relative;
}

/*.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}*/

ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}